.footer {
    max-width: 1184px;
    padding-top: 92px;
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1220px) {
    .footer {
        padding-top: 88px;
        padding-right: 48px;
        padding-left: 48px;
    }
} 

@media (max-width: 768px) {
    .footer {
        padding-right: 24px;
        padding-left: 24px;
    }
} 

@media (max-width: 690px) {
    .footer {
        flex-direction: column;
    }
} 

@media (max-width: 320px) {
    .footer {
        padding-top: 64px;
        padding-left: 16px;
    }
} 

.footer__copyright {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #000;
    margin-block: 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

@media (max-width: 650px) {
    .footer__copyright {
        line-height: 14px;
        padding-top: 48px;
        width: 100%;
        justify-content: flex-start;
        align-items: flex-start;
    }
} 